/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
}

#about {
    background-color: #eaeaea;
    padding: 30px;
    text-align: center;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}